* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #faf7ed;
}

/* HEADER */
header {
  background-color: #004c3f;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 1em;
}

header a {
  color: #faf7ed;
  text-decoration: none;
  background-color: #e75e41;
  padding: 0.25em 1em;
  border-radius: 1em;
}

/* FOOTER */
footer {
  background: #004c3f;
  color: #faf7ed;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}

footer svg {
  margin-left: 0.25em;
}
