/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}
