/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

/* TYPOGRAPHY */

/* HEADER */
header {
  background-color: #004c3f;
}

.container-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

h1 {
  font-family: 'Monoton', cursive;
  color: #faf7ed;
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

h1 span {
  color: #a8eb12;
}

.nomineeBtn-container {
  position: relative;
  padding: 0.5em;
}
.nomineeBtn-container button {
  padding: 0.5em 1em;
  background-color: #e75e41;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  color: #faf7ed;
}

.nomineeBtn-container button:hover,
.nomineeBtn-container button:focus {
  cursor: pointer;
}
.nomineeBtn-container span {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25em;
  font-size: 0.75em;
  text-align: center;
  height: 22px;
  width: 22px;
  border: 0.5px solid #004c3f;
  font-weight: bold;
  border-radius: 50%;
  background-color: #faf7ed;
  color: #004c3f;
}

/* MAIN */
main {
  display: grid;
  padding: 1.5rem;
  grid-template-rows: min-content min-content 1fr min-content;
  background-color: #faf7ed;
}

/* SEARCH */
.search-container {
  background-color: #004c3f;
  display: flex;
  justify-self: center;
  align-items: center;
  position: relative;
  padding: 0.5rem;
  border-radius: 0.25em;
  margin-bottom: 0.25rem;
}

.search-container input {
  margin: 0 2em;
  background-color: #004c3f;
  border: none;
  color: #faf7ed;
}

.search-container input:focus {
  outline: thin dotted #faf7ed;
}

.search-icon {
  position: absolute;
  left: 0.5rem;
}

.search-cancel {
  position: absolute;
  right: 0.5rem;
}

.search-cancel:hover,
.search-cancel:focus {
  cursor: pointer;
}

.search-results {
  text-align: center;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}
