/* GENERAL */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

#root {
  height: 100vh;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
}

.container {
  max-width: 900px;
  margin: 0 auto;
}

.dots-1 {
  width: 32px;
  height: 32px;
  --c: radial-gradient(circle closest-side, currentColor 90%, #0000);
  background: var(--c) 0 0, var(--c) 0 100%, var(--c) 100% 100%;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  animation: d1 1s infinite linear;
}
@keyframes d1 {
  25% {
    background-position: 100% 0, 0 100%, 100% 100%;
  }
  50% {
    background-position: 100% 0, 0 0, 100% 100%;
  }
  75% {
    background-position: 100% 0, 0 0, 0 100%;
  }
  100% {
    background-position: 100% 100%, 0 0, 0 100%;
  }
}

/* TYPOGRAPHY */

/* HEADER */
header {
  background-color: #004c3f;
}

.container-header {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  align-items: center;
}

.logo-container {
  display: flex;
  align-items: center;
}

h1 {
  font-family: 'Monoton', cursive;
  color: #faf7ed;
  font-size: 1.25rem;
  margin-left: 0.5rem;
}

h1 span {
  color: #a8eb12;
}

.nomineeBtn-container {
  position: relative;
  padding: 0.5em;
}
.nomineeBtn-container button {
  padding: 0.5em 1em;
  background-color: #e75e41;
  border: none;
  border-radius: 0.5rem;
  font-weight: bold;
  color: #faf7ed;
}

.nomineeBtn-container button:hover,
.nomineeBtn-container button:focus {
  cursor: pointer;
}
.nomineeBtn-container span {
  display: inline-block;
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.25em;
  font-size: 0.75em;
  text-align: center;
  height: 22px;
  width: 22px;
  border: 0.5px solid #004c3f;
  font-weight: bold;
  border-radius: 50%;
  background-color: #faf7ed;
  color: #004c3f;
}

/* MAIN */
main {
  display: grid;
  padding: 1.5rem;
  grid-template-rows: min-content min-content 1fr min-content;
  background-color: #faf7ed;
}

/* SEARCH */
.search-container {
  background-color: #004c3f;
  display: flex;
  justify-self: center;
  align-items: center;
  position: relative;
  padding: 0.5rem;
  border-radius: 0.25em;
  margin-bottom: 0.25rem;
}

.search-container input {
  margin: 0 2em;
  background-color: #004c3f;
  border: none;
  color: #faf7ed;
}

.search-container input:focus {
  outline: thin dotted #faf7ed;
}

.search-icon {
  position: absolute;
  left: 0.5rem;
}

.search-cancel {
  position: absolute;
  right: 0.5rem;
}

.search-cancel:hover,
.search-cancel:focus {
  cursor: pointer;
}

.search-results {
  text-align: center;
  font-size: 0.75rem;
  margin-bottom: 1rem;
}

/* MOVIES */
.movies-container {
  display: flex;
  margin: 0 auto;
  flex-wrap: wrap;
  margin-bottom: 2rem;
  justify-content: center;
  max-width: 1000px;
}

.movie {
  position: relative;
  width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 20px;
  padding: 1rem;
  margin: 1em;
}

.movie .more {
  position: absolute;
  right: 1rem;
}

.movie .more:hover,
.movie .more:focus {
  cursor: pointer;
}

.movie .nominated {
  fill: #e75e41;
}

.movie .year {
  position: absolute;
  left: 1rem;
  font-size: 0.8rem;
  color: #faf7ed;
}

.movie .title {
  position: absolute;
  bottom: 2.5rem;
  text-align: center;
  width: 80%;
  color: #faf7ed;
  font-weight: bold;
}

.movie button {
  position: absolute;
  bottom: 1rem;
  background-color: #a8eb12;
  color: #004c3f;
  width: 80%;
  padding: 0.25em 0.5em;
  justify-self: center;
  border: none;
  font-size: 0.75rem;
  text-transform: uppercase;
  border-radius: 1rem;
  font-weight: bold;
}

.movie button.nominated {
  background-color: #e75e41;
  color: #faf7ed;
}

.movie button:hover,
.movie button:focus {
  cursor: pointer;
}

.movie button:disabled {
  opacity: 0.75;
  background-color: #faf7ed;
  color: #004c3f;
  cursor: no-drop;
}

/* SHOW MORE */
.show-more {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    'plot plot'
    'imdb-logo rating';
  gap: 0.75em;
  z-index: 1;
}

.plot {
  grid-area: plot;
}

.imdb-logo {
  grid-area: imdb-logo;
  justify-self: right;
}

.rating {
  grid-area: rating;
  font-weight: bold;
}

/* PAGNATION */

.pagnation-container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.pagnation-container h3 {
  margin: 0 1rem;
}

.pagnation-container button {
  background-color: #faf7ed;
  border: none;
}

.pagnation-container button:hover,
.pagnation-container button:focus {
  cursor: pointer;
}

.pagnation-container button:disabled {
  background-color: #faf7ed;
  border: none;
  opacity: 0.25;
}

/* NOMINEES */

.nominations-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.nominations-container .nominee-card {
  display: grid;
  grid-template-areas:
    'img date date date'
    'img title title title'
    'img plot plot plot '
    'img logo rating delete';
  border: 1px solid #004c3f;
  padding: 0.5rem;
  border-radius: 0.25rem;
  width: 350px;
  margin-bottom: 1rem;
}

.nominations-container .nominee-poster {
  grid-area: img;
  width: 100px;
  object-fit: cover;
  margin-right: 0.75rem;
  align-self: center;
  border-top-left-radius: 0.25rem;
  border-bottom-left-radius: 0.25rem;
}

.nominations-container .nominee-year {
  grid-area: date;
}

.nominations-container .nominee-title {
  grid-area: title;
  font-size: 1.25rem;
}

.nominations-container .nominee-plot {
  grid-area: plot;
  font-size: 0.75rem;
}

.nominations-container .imdb-rating {
  grid-area: rating;
  justify-self: left;
  align-self: center;
  margin-left: 0.5rem;
}

.nominations-container .imdb-logo {
  grid-area: logo;
  justify-self: right;
  align-self: center;
  margin-right: 0.25rem;
}

.nominations-container .nominee-card button {
  grid-area: delete;
  background-color: #faf7ed;
  border: none;
}

.nominations-container .nominee-card button:hover {
  cursor: pointer;
  opacity: 0.7;
}

/* FOOTER */
footer {
  background-color: #004c3f;
  display: flex;
  justify-content: center;
  font-size: 0.75rem;
  color: #faf7ed;
  padding: 0.25rem;
}
